body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://i.pinimg.com/originals/57/66/14/576614565b9562917bb1f39a0c07985b.gif);
    background-size: 80vh;
    color: white;
}